<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ShetuanfenleiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Shetuanfenlei">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="shetuanleixing" jdbcType="VARCHAR" property="shetuanleixing" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shetuanleixing, addtime
  </sql>
  <select id="quchongShetuanfenlei"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from shetuanfenlei 
    where shetuanleixing = #{shetuanleixing,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from shetuanfenlei  where 1=1
    <if test="shetuanleixing!=null">and shetuanleixing like  concat('%',#{shetuanleixing,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanfenlei  where 1=1
    <if test="shetuanleixing!=null">
    and shetuanleixing =#{shetuanleixing}
    </if>
  </select>
  
  <select id="getsyshetuanfenlei1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanfenlei  where 1=1
    limit 0,8
  </select>
  <select id="getsyshetuanfenlei2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanfenlei  where 1=1
    limit 0,8
  </select>
  <select id="getsyshetuanfenlei3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from shetuanfenlei  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from shetuanfenlei where 1=1 
     <if test="shetuanleixing!=null">and shetuanleixing like  concat('%',#{shetuanleixing,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shetuanfenlei
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shetuanfenlei
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Shetuanfenlei">
    insert into shetuanfenlei (id, shetuanleixing, addtime)
    values (#{id,jdbcType=INTEGER}, #{shetuanleixing,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Shetuanfenlei">
    insert into shetuanfenlei
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shetuanleixing != null"> shetuanleixing, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shetuanleixing != null"> #{shetuanleixing,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Shetuanfenlei">
    update shetuanfenlei
    <set>
	  <if test="shetuanleixing != null"> shetuanleixing = #{shetuanleixing,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Shetuanfenlei">
    update shetuanfenlei
    set shetuanleixing = #{shetuanleixing,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
