<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.JiarushetuanMapper">
  <resultMap id="BaseResultMap" type="com.entity.Jiarushetuan">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="yonghuming" jdbcType="VARCHAR" property="yonghuming" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="shetuanmingcheng" jdbcType="VARCHAR" property="shetuanmingcheng" />    <result column="shetuanleixing" jdbcType="VARCHAR" property="shetuanleixing" />    <result column="shenqingren" jdbcType="VARCHAR" property="shenqingren" />    <result column="shenqingliyou" jdbcType="VARCHAR" property="shenqingliyou" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, yonghuming,xingming,shetuanmingcheng,shetuanleixing,shenqingren,shenqingliyou,issh, addtime
  </sql>
  <select id="quchongJiarushetuan"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from jiarushetuan 
    where shenqingren = #{shenqingren,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from jiarushetuan  where 1=1
    <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shetuanleixing!=null">and shetuanleixing like  concat('%',#{shetuanleixing,jdbcType=VARCHAR},'%')</if>     <if test="shenqingren!=null">and shenqingren like  concat('%',#{shenqingren,jdbcType=VARCHAR},'%')</if>     <if test="shenqingliyou!=null">and shenqingliyou like  concat('%',#{shenqingliyou,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiarushetuan  where 1=1
    <if test="shenqingren!=null">
    and shenqingren =#{shenqingren}
    </if>
  </select>
  
  <select id="getsyjiarushetuan1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiarushetuan  where 1=1
    limit 0,8
  </select>
  <select id="getsyjiarushetuan2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiarushetuan  where 1=1
    limit 0,8
  </select>
  <select id="getsyjiarushetuan3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from jiarushetuan  where 1=1
    limit 0,8
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from jiarushetuan where 1=1 
     <if test="yonghuming!=null">and yonghuming like  concat('%',#{yonghuming,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="shetuanmingcheng!=null">and shetuanmingcheng like  concat('%',#{shetuanmingcheng,jdbcType=VARCHAR},'%')</if>     <if test="shetuanleixing!=null">and shetuanleixing like  concat('%',#{shetuanleixing,jdbcType=VARCHAR},'%')</if>     <if test="shenqingren!=null">and shenqingren like  concat('%',#{shenqingren,jdbcType=VARCHAR},'%')</if>     <if test="shenqingliyou!=null">and shenqingliyou like  concat('%',#{shenqingliyou,jdbcType=VARCHAR},'%')</if>     <if test="issh!=null">and issh like  concat('%',#{issh,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jiarushetuan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jiarushetuan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Jiarushetuan">
    insert into jiarushetuan (id, yonghuming,xingming,shetuanmingcheng,shetuanleixing,shenqingren,shenqingliyou, addtime)
    values (#{id,jdbcType=INTEGER}, #{yonghuming,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{shetuanmingcheng,jdbcType=VARCHAR},#{shetuanleixing,jdbcType=VARCHAR},#{shenqingren,jdbcType=VARCHAR},#{shenqingliyou,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Jiarushetuan">
    insert into jiarushetuan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="yonghuming != null"> yonghuming, </if>      <if test="xingming != null"> xingming, </if>      <if test="shetuanmingcheng != null"> shetuanmingcheng, </if>      <if test="shetuanleixing != null"> shetuanleixing, </if>      <if test="shenqingren != null"> shenqingren, </if>      <if test="shenqingliyou != null"> shenqingliyou, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="yonghuming != null"> #{yonghuming,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="shetuanmingcheng != null"> #{shetuanmingcheng,jdbcType=VARCHAR},</if>      <if test="shetuanleixing != null"> #{shetuanleixing,jdbcType=VARCHAR},</if>      <if test="shenqingren != null"> #{shenqingren,jdbcType=VARCHAR},</if>      <if test="shenqingliyou != null"> #{shenqingliyou,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Jiarushetuan">
    update jiarushetuan
    <set>
	  <if test="yonghuming != null"> yonghuming = #{yonghuming,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="shetuanmingcheng != null"> shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},</if>      <if test="shetuanleixing != null"> shetuanleixing = #{shetuanleixing,jdbcType=VARCHAR},</if>      <if test="shenqingren != null"> shenqingren = #{shenqingren,jdbcType=VARCHAR},</if>      <if test="shenqingliyou != null"> shenqingliyou = #{shenqingliyou,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Jiarushetuan">
    update jiarushetuan
    set yonghuming = #{yonghuming,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},shetuanmingcheng = #{shetuanmingcheng,jdbcType=VARCHAR},shetuanleixing = #{shetuanleixing,jdbcType=VARCHAR},shenqingren = #{shenqingren,jdbcType=VARCHAR},shenqingliyou = #{shenqingliyou,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
